.ButtonRow {
    background-color: #353749;
    margin: 4px;
    border-radius: 10px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 14px;
    padding-bottom: 14px;
}
